body {
  background-color: whitesmoke;
  color: black;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  position: sticky;
}
.left {
  margin-left: 0vw;
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  position: sticky;

}
.right {
  margin-right: 0vw;
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  position: sticky;

}
.nav-bar img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  align-items: center;
  position: sticky;

}
#search_bar {
  width: 50vh;
  cursor: pointer;
  position: sticky;

}
.nav-bar-items {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: sticky;

}
#studio {
  top: 0vh;
  position: relative;
  padding-right: 20px;
  position: sticky;

}
#studio::after {
  content: "new";
  position: absolute;
  top: -5px;
  font-size: 10px;
  margin-right: 15px;
  color: red;
  position: sticky;

}


.container-gif-top {
  width: auto;
  height:412.82px;
  border: hidden;
  overflow: hidden;
  position: relative;
}

.container-gif-top img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.container-gif-top img:first-child {
  opacity: 1;
}

@keyframes slideshow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

.container-gif-top img:nth-child(2) {
  animation: slideshow 27s infinite;
}

.container-gif-top img:nth-child(3) {
  animation: slideshow 27s infinite;
  animation-delay: 3s;
}

.container-gif-top img:nth-child(4) {
  animation: slideshow 27s infinite;
  animation-delay: 6s;
}

.container-gif-top img:nth-child(5) {
  animation: slideshow 27s infinite;
  animation-delay: 9s;
}

.container-gif-top img:nth-child(6) {
  animation: slideshow 27s infinite;
  animation-delay: 12s;
}

.container-gif-top img:nth-child(7) {
  animation: slideshow 27s infinite;
  animation-delay: 15s;
}

.container-gif-top img:nth-child(8) {
  animation: slideshow 27s infinite;
  animation-delay: 18s;
}

.container-gif-top img:nth-child(9) {
  animation: slideshow 27s infinite;
  animation-delay: 21s;
}


.bullet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
}

.bullet.active {
  background-color: black;
}


.deal p{
  text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.55em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 55px 0px 20px 30px;
    text-align: center;

}

  .deal-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .deal-item img{
    width:12.5vw;


  }
  .best-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .best-item img{
    width:12.5vw;

  }
.shop{
  text-transform: capitalize;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.55em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
    display: block;
    margin: 55px 0px 20px 30px;
    text-align: center;
  }
.shop-items{
  display: flex;;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.shop-items img{
  width: 16.6%;
}

.img-container img{
  width: 100%;
  margin: 0px auto;
  object-fit: cover;
}

.side-image-1 {
  position: fixed;
  right: 0;
  top: 150px;
  cursor: pointer;
}




